doctype html
html
  head
    include include/meta.jade
  body

    .control
      header(role="banner")
        h1.appname CSSR
        p.tagline.
          Find unused and duplicate selectors
      nav(role="navigation")
        input(type="text", value='http://1000ch.net/').input
        button.btn Parse

    main.result
<<<<<<< HEAD
      p.comment.line // Find unused and duplicate selectors
      img#js-loading.loading.is-hidden(is='x-zangief')
=======
      p.comment.line // Unused and duplicate selectors
      // img#js-loading.loading.is-hidden(is='random-zangief')
      css-loading#js-loading.loading.loading--css.is-hidden
>>>>>>> b4f5dccf4585312416ad87cd2c24b99a2da98670
      result-list#js-result-list

    footer(role="contentinfo")
      p.
        CSSR is crafted by <a href="https://twitter.com/1000ch">1000ch</a>, 
        <a href="https://twitter.com/hiloki">hiloki</a>.<br>
        and powered by <a href="https://github.com/operasoftware/ucss">UCSS</a>.

    include include/script.jade