doctype html
html
  head
    include include/meta.jade
  body

    .control
      header(role="banner")
        h1.appname CSSR
        p.tagline.
          Find unused and duplicate selectors
      nav(role="navigation")
        input.input(type="text", value='http://google.com/')
        button.btn Parse

    main.result
      p.comment.line // <b class="unused">Unused</b> and <b class="duplicate">Duplicate</b> selectors
      css-loading.js-loading.loading.loading--css.is-hidden
      result-list#js-result-list

    footer(role="contentinfo")
      div.share
        twitter-button(width='80', text='CSSR', type='share', href='http://cssr.herokuapp.com')
        facebook-button(width='80', action='like', href='http://cssr.herokuapp.com')
        gplus-one(width='80', href='http://cssr.herokuapp.com')
      p.
        <a href="https://github.com/1000ch/cssr">CSSR</a> is crafted by <a href="https://twitter.com/1000ch">1000ch</a>, 
        <a href="https://twitter.com/hiloki">hiloki</a>.<br>
        and powered by <a href="https://github.com/operasoftware/ucss">UCSS</a>.

    include include/script.jade