doctype html
html
  head
    include include/meta.jade
  body

    .control
      header(role="banner")
        h1.appname CSSR
        p.tagline.
          Go home and be a family man! 
      nav(role="navigation")
        input(type="text", value='http://1000ch.net/').input
        button.btn Parse

    main.result
      p.comment.line // Find unused and duplicate selectors
      img#js-loading.loading.is-hidden(src='/img/zangief.gif')
      result-list#js-result-list

    footer(role="contentinfo")
      p.
        CSSR is crafted by <a href="https://twitter.com/1000ch">1000ch</a>, 
        <a href="https://twitter.com/hiloki">hiloki</a>.<br>
        and powered by <a href="https://github.com/operasoftware/ucss">UCSS</a>.

    include include/script.jade