title CSSR
meta(charset='utf-8')
link(rel='stylesheet', href='/css/lib.min.css')
link(rel='stylesheet', href='/css/app.min.css')
link(rel='import', href='/webcomponents/result-list.html')
link(rel='import', href='/webcomponents/result-list-item.html')
script(src='/webcomponents/random-zangief.js')