html
  // background: url(/img/ussr.png) no-repeat center
  background: #FFF;
  color: #383838;

a
  // color: #FFF
  color: #000
  color: #998841

.control 
  // background-color: rgba(229, 102, 70, 0.8)
  background transparent

.input
  // border-bottom: 2px solid #FFF
  // background-color: transparent
  // color: #FFF
  border-bottom: 2px solid #000
  background-color: transparent
  color: #000


.btn
  // border: 2px solid #FFF
  border: 2px solid #000
  // background-color: transparent
  background-color: transparent
  // color: #FFF
  color: #000
  font-weight: bold


.btn:hover
  // background-color: #fff
  background-color: #000
  // color: rgba(229, 102, 70, 0.9)
  color: #FFF

[role="banner"]
  // color: #FFF
  color: #000

[role="contentinfo"]
  // background-color: rgba(229, 102, 70, 0.8)
  background: #FFF
  color: #999999
@media(min-width: 864px)
  [role="contentinfo"]
    // color: #FFF
    background-color: transparent

.appname
  color: #998841;
  // color: #984111;

.line
  &:before
    color: #CCC
  &:hover:before
    background-color: rgba(#FFF,0.1)
  &:after
    border-right: 1px solid #666

.comment
  color: #AAA

.result
  box-shadow: inset 4px 0 4px rgba(0,0,0,.3) 
  background-color: #393939
  color: #FFF
  font-family: Monaco, Consolas, monospace
